<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h1>TOSAI project</h1>
              <p>
                Understanding and Creating Dynamic 3D Worlds towards Safer AI
              </p>
            </td>
          </tr>
        </table>
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0%;width:100%;vertical-align:middle;justify-content:space-between;display:flex;">
              <span><a href="/news">News</a></span><span><a href="/people">People</a></span><span><a href="/publications">Publications</a></span><span><a href="/code">Code</a></span><span><a href="/about">About</a></span>
            </td>
          </tr>
        </table>
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td> <h2> About </h2> </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:80%;vertical-align:middle;min-width:120px">
            </td>
          </tr>
        </table>

        <p>
        In the near future, many AI-based systems will be deployed in real life scenarios. These systems will have to co-exist with humans in dynamically changing environments. 
        Towards this future, one fundamental question needs to be answered affirmatively: Can the AI-based system operate reliably in all rare and critical scenarios?
        Although data-driven machine learning has catalyzed significant progress in building AI systems for various tasks, the answer remains negative as rare and critical 
        scenarios cannot be directly observed in the real world for the very reason that they are rare and dangerous. 
        </p>
        <p>
        The TOSAI project lays out a research program for securing a positive answer to this key question for the future of AI. 
        We propose to build a comprehensive framework for generating photorealistic, virtual rare and critical scenarios. 
        The research program consists of two phases: a) learning and building rich representations of our dynamic 3D world from visual data, and 
        b) systematically combining key components of them to generate rare and critical scenarios. The intrinsic representation will encompass all physical aspects 
        (e.g. appearance, geometry, and dynamics) as well as semantic aspects (e.g. object class) of our visual world. 
        </p>
        <p>The project is jointly funded by ANR-DFG-JST.</p>
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                <img src="../images/heidelberg.png" style="height:120px;"/><img src="../images/kyoto.png"  style="height:120px;"/><img src="../images/enpc.png"  style="height:120px;"/>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</body>

</html>

