<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h1>TOSAI project</h1>
              <p>
                Understanding and Creating Dynamic 3D Worlds towards Safer AI
              </p>
            </td>
          </tr>
        </table>
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0%;width:100%;vertical-align:middle;justify-content:space-between;display:flex;">
              <span><a href="">News</a></span><span><a href="">People</a></span><span><a href="">Publications</a></span><span><a href="">About</a></span>
            </td>
          </tr>
        </table>
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td> <h2> News </h2> </td>
          </tr>

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'news' %}
          <tr>
            <td style="width:80%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.author}}, {{ post.date }}
              <br>
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
  
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                <img src="images/heidelberg.png" style="height:120px;"/><img src="images/kyoto.png"  style="height:120px;"/><img src="images/enpc.png"  style="height:120px;"/>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

