<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <style>
        /* Add your CSS styling here */
        .group {
          margin-bottom: 20px;
        }
        .member {
          display: inline-block;
          margin-right: 20px;
        }
        .member img {
          max-height: 125px;
        }
  </style>

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h1>TOSAI project</h1>
              <p>
                Understanding and Creating Dynamic 3D Worlds towards Safer AI
              </p>
            </td>
          </tr>
        </table>
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0%;width:100%;vertical-align:middle;justify-content:space-between;display:flex;">
              <span><a href="/news">News</a></span><span><a href="/people">People</a></span><span><a href="/publications">Publications</a></span><span><a href="/code">Code</a></span><span><a href="/about">About</a></span>
            </td>
          </tr>
        </table>
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td> <h2> People </h2> </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:80%;vertical-align:middle;min-width:120px">
            </td>
          </tr>

          <tr><td>
                <h3>Heidelberg University</h3><br />
          </tr></td>
          <tr><td>
              <div class="group">
                <div class="member">
                  <a href="https://hci.iwr.uni-heidelberg.de/vislearn/people/carsten-rother/">
                    <img src="../images/CarstenRother.jpg" alt="Carsten rother">
                    <p>Prof Dr Carsten rother</p>
                  </a>
                </div>
                <div class="member">
                  <a href="https://hci.iwr.uni-heidelberg.de/vislearn/people/ullrich-koethe/">
                    <img src="../images/UllrichKoethe.jpg" alt="Ullrich Koethe">
                    <p>Prof Dr Ullrich Köthe</p>
                  </a>
                </div>
                <div class="member">
                  <a href="https://hci.iwr.uni-heidelberg.de/vislearn/people/">
                    <img src="../images/DenisZavadski.jpg" alt="Denis Zavadski">
                    <p>Denis Zavadski</p>
                  </a>
                </div>
                <!-- Add more members for Group 1 as needed -->
              </div>
          </td></tr>
          <tr><td>
                <h3>Kyoto University</h3><br />
          </tr></td>
          <tr><td>
              <div class="group">
                <div class="member">
                  <a href="http://vision.ist.i.kyoto-u.ac.jp/people/">
                    <img src="../images/KoNishino.png" alt="Ko Nishino">
                    <p>Ko Nishino</p>
                  </a>
                </div>
                <div class="member">
                  <a href="http://vision.ist.i.kyoto-u.ac.jp/people/">
                    <img src="../images/ShoheiNobuhara.jpg" alt="Shohei Nobuhara">
                    <p>Shohei Nobuhara</p>
                  </a>
                </div>
                <div class="member">
                  <a href="http://vision.ist.i.kyoto-u.ac.jp/people/">
                    <img src="../images/ShuNakamura.jpg" alt="Shu Nakamura">
                    <p>Shu Nakamura</p>
                  </a>
                </div>
                <!-- Add more members for Group 1 as needed -->
              </div>
          </td></tr>
          <tr><td>
                <h3>Ecole des Ponts ParisTech</h3><br />
          </tr></td>
          <tr><td>
              <div class="group">
                <div class="member">
                  <a href="https://davidpicard.github.io/">
                    <img src="../images/DavidPicard.jpg" alt="David Picard">
                    <p>David Picard</p>
                  </a>
                </div>
                <div class="member">
                  <a href="https://vincentlepetit.github.io/">
                    <img src="../images/VincentLepetit.jpg" alt="Vincent Lepetit">
                    <p>Vincent Lepetit</p>
                  </a>
                </div>
                <div class="member">
                  <a href="https://nerminsamet.github.io/">
                    <img src="../images/NerminSamet.jpg" alt="Nermin Samet">
                    <p>Nermin Samet</p>
                  </a>
                </div>
                <div class="member">
                  <a href="https://nicolas-dufour.github.io/">
                    <img src="../images/NicolasDufour.jpg" alt="Nicolas Dufour">
                    <p>Nicolas Dufour</p>
                  </a>
                </div>
                <!-- Add more members for Group 1 as needed -->
              </div>
          </td></tr>

    <!-- Add more groups as needed -->
        </table>
  
        <hr style="border-top: 1px solid LightGray;"/>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                <img src="../images/heidelberg.png" style="height:120px;"/><img src="../images/kyoto.png"  style="height:120px;"/><img src="../images/enpc.png"  style="height:120px;"/>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

